{namespace employee_reviews}

/**
 *
 * Footer
 *
 * @param applicationName
 *
 */
{template .footer}
<footer class="footer">
	<div class="container">
		<div class="copyright">
			<div class="row">
				<div class="col-lg-7 col-md-7 col-sm-7">
					<p>&copy; 2015 {$applicationName}. All Rights Reserved. Designed by <a href="https://github.com/brunobasto/" target="_BLANK">Bruno Basto</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>
{/template}